################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/SCscCL_NUnitTest/obj/
/SCscCL_NUnitTest/bin/
/SCscCL_Model/obj/
/SCscCL_Model/bin/



